@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

body {
  margin: 0;

  font-family: "Montserrat", sans-serif !important;
}

button {
  background-color: black !important;
  box-shadow: none;
  outline: none;
  border: none;
  color: white !important;
}

input,
textarea {
  box-shadow: none;
  outline: none;
  border: 1px solid gray;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
}

.ant-spin {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  z-index: 10 !important;
}

.ant-btn-dashed {
  background: white !important;
  color: black !important;
  border: 1px solid gray !important;
  width: 200px !important;
}

.back-btn {
  background-color: white !important;
  color: black !important;
  border: 1px solid black !important;
}
