.layout {
  height: 100vh;
  padding: 20px 50px;
}

.header {
  height: 10%;
  background-color: black;
}

.header h1 {
  color: white !important;
}

.content {
  height: 87%;
  border: 1px solid grey;
  margin-top: 20px;
}
